.site-header {
    background: #f6f6f6;
}
.container {
    width: 1240px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.header-box {
    height: 105px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-logo-link {
    width: 276px;
    height: 45px;
    background: #fff;
    border-radius: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
}
.logo-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #7296ee;
}
.exchange-rate-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.exchange-rate-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #555;
    text-decoration: none;
}
.symbol {
    color: #2959ce;
}
.symbol2 {
    color: #2959ce;
    margin-left: 25px;
}
.header-left-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button {
    width: 275px;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 25px;
}
.search-icon {
    margin-left: 15px;
    margin-right: 6px;
}
.header-search-input {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
}
.header-search-input:focus {
    outline: none;
}
.site-header-span {
    width: 70px;
    height: 36px;
    background: #DCE6FF;
    border-radius: 39px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}
.site-header-language-УЗ {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 50%;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 8px;
}
.site-header-language-РУ {
    width: 16px;
    height: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #A6A6A6;
    text-decoration: none;
}
.header-link {
    width: 89px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #7296ec;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
.header-link:active {
    background: #94b4ff;
}
.site-main {
    margin-bottom: 100px;
}
.site-nav-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-item-link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7f7f7f;
    margin-right: 34px;
    text-decoration: none;
}
.nav-item-link:active {
    color: #7296ee;
    text-decoration: underline #7296ee;
}
.nav-item:nth-child(10) {
    margin-right: 0;
}
.nav-bottom-line {
    width: 1240px;
    border: 0.1px solid #d1d1d1;
}
.site-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 40px;
}
.news {
    margin-top: 50px;
}
.news-boxses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.news-link-box {
    text-decoration: none;
}
.news-box {
    width: 393px;
    height: 404px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #f6f6f6;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 12px;
}
.news-box:nth-child(1) {
    height: 425px;
}
.news-box:nth-child(3) {
    margin-right: 0;
}
.news-box:nth-child(6) {
    margin-right: 0;
}
.news-title {
    width: 358px;
    height: 78px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 10px;
}
.news-text {
    width: 346px;
    height: 66px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
    margin-bottom: 15px;
}
.news-box-site-logo {
    margin-right: 10px;
}
.news-box-bottom-info {
    display: flex;
    justify-content: start;
    align-items: center;
}
.news-img {
    margin-bottom: 15px;
}
.data-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}
.site-article-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.site-article {
    width: 1050px;
    height: 100px;
    background-image: url(../images/article_background.png);
    display: flex;
    justify-content: start;
    align-items: center;
}
.article-title {
    width: 404px;
    height: 52px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    margin-left: 29px;
    margin-right: 397px;
}
.article-link {
    width: 149px;
    height: 50px;
    background: #F78B3B;
    border-radius: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.article-link:active {
    background: #fff;
    color: #F78B3B;
}
.world-news-boxses {
    margin-top: 60px;
}
.world-news-title {
    width: 83px;
    height: 28px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 20px;
}
.world-news-list {
    display: flex;
    list-style: none;
    margin-left: -44px;
}
.world-news-item-left {
    margin-right: 10px;
}
.world-news-box {
    width: 797px;
    height: 205px;
    background: #f6f6f6;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
}
.world-news-img {
    margin-left: 17px;
    margin-right: 15px;
}
.world-news-about {
    margin: auto;
}
.world-news-box-title {
    width: 535px;
    height: 52px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.world-news-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
    margin-bottom: 17px;
}
.world-news-bottom-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -10px;
}
.world-news-logo {
    border-radius: 5px;
    margin-right: 10px;
}
.world-news-data {
    width: 140px;
    height: 14px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}
.world-news-again-link {
    width: 796px;
    height: 53px;
    background: #EAEAEA;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
}
.world-news-again-link:hover {
    text-decoration: underline;
}
.world-news-item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-news-box {
    width: 393px;
    height: 502px;
    background: #F6F6F6;
    border-radius: 15px;
    padding-left: 17px;
    margin-bottom: 10px;
}
.main-title {
    width: 99px;
    height: 28px;
    left: 944px;
    top: 1456px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 25px;
}
.addition-title {
    width: 356px;
    height: 48px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
}
.addition-data-text {
    width: 207px;
    height: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}
.section-line {
    width: 370px;
    height: 0px;
    border: 0.1px solid #D2D2D2;
    margin-left: 0;
}
.world-section-aside-img {
    border-radius: 15px;
}
.site-footer {
    background: #7297EF;
}
.footer-container {
    width: 1038px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}
.footer-box {
    height: 356px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}
.footer-site-logo {
    width: 264px;
    height: 28px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 17px;
}
.footer-top-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-top-text {
    width: 229px;
    height: 95px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: #fff;
    margin-top: 0;
    margin-right: 203px;
}
.footer-top-link-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-top-link-box:nth-child(2) {
    margin-right: 100px;
}
.footer-top-link {
    width: 224px;
    height: 19px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}
.footer-line {
    width: 998px;
    border: 0.1px solid #cecece;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom-text {
    width: 161px;
    height: 46px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    margin-right: 662px;
}
.footer-bottom-link {
    margin-right: 25px;
}